@tailwind base;
@tailwind components;
@tailwind utilities;

@import url('https://fonts.googleapis.com/css2?family=Lexend:wght@100;200;300;400;500;600;700;800;900&display=swap');

html {
  scroll-behavior: smooth;
}

body {
  font-family: 'Lexend', sans-serif;

}

.titleFont{
  font-family: 'Lexend', sans-serif;
}

.marq {
  margin-top: 1rem;
  margin-bottom: 1rem;

  div {
    gap: 1rem;

    &:nth-child(8) {
      margin-right: 1rem;
    }
  }
}

$path-length: 1000.2890625px;
$size: 10rem;
$bg: #fff;
$text-color: rgba(#000, 0.8);

.mySvg {
  width: $size;
  animation: move 1s ease forwards 1.5s;
  path {
    fill: none;
    stroke: rgba($text-color, 0.2);
    stroke-width: 12.5;
    z-index: 2;
    &.track {
      stroke: $text-color;
      stroke-dashoffset: $path-length;
      stroke-dasharray: $path-length;
      stroke-linecap:round;
      animation: anim 5s ease forwards;
      @keyframes anim {
        0% {
          stroke-dashoffset: $path-length;
        }
        100% {
          stroke-dashoffset: $path-length * 2;
        }
      }
    }
  }
}